@using Fly.Core.Entities;
@using Microsoft.AspNetCore.Mvc.Localization;
@model AirlinesViewModel;
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="card text-center mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/airline.jpg">
    <div class="card-body">
        <form asp-action="Index">
            <div class="row">
                <div class="col">
                    <label  class="control-label">@SharedLocalizer["Name"].Value</label>
                    <input asp-for="AirlineParameter.Name" class="form-control" />
                </div
                @Html.HiddenFor(x=>x.RedirectUri)
                @Html.HiddenFor(x=>x.IsSelect)
                <div class = "row">
                    <div class="col">
                        <label>@SharedLocalizer["Order By"]</label>
                        @Html.DropDownListFor(x => x.AirlineParameter.OrderBy, 
                            new List<SelectListItem>
                                {
                                    new SelectListItem{ Value = "Id", Text= "Id"},
                                    new SelectListItem{ Value = "Name", Text= SharedLocalizer["Name"].Value},
                                    new SelectListItem{ Value = "RegistrationAddress", Text= SharedLocalizer["Registration Address"].Value},
                                    new SelectListItem{ Value = "Phone", Text= SharedLocalizer["Phone"].Value}
                        }, new { @class = "form-select"} )
                    </div>

                    <div class="col"> 
                        <br />
                        <label> @SharedLocalizer["By Decreasing"].Value </label>
                        @Html.CheckBoxFor(x=>x.AirlineParameter.Descresing)
                    </div>
                </div>

                <br />
                <div class="col">
                    <br />
                    <input type="submit" onclick="setStartPage()" value=@SharedLocalizer["Search"] class="btn btn-primary" />
                </div>

                <br />
                <div class="card-body">
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink(SharedLocalizer["Create"].Value, "Create")
                    }
                    <table class="table rounded rounded-6 overflow-hidden table-sm table-dark table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @SharedLocalizer["Name"]
                                </th>
                                <th>
                                    @SharedLocalizer["Phone"]
                                </th>
                                <th>
                                    @SharedLocalizer["Registration Address"]
                                </th>
                                <th>
                                    Id
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PagedResponse)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegistrationAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @if(Model.IsSelect)
                                    {
                                        @Html.ActionLink($"{SharedLocalizer["Select"].Value}","Select", new { id = item.Id, redirectUri = Model.RedirectUri})
                                    }
                                    else
                                    {
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            @Html.ActionLink($"{SharedLocalizer["Edit"].Value}", "Edit", new { id = item.Id })
                                            <br />
                                            @Html.ActionLink($"{SharedLocalizer["Delete"].Value}", "Delete", new { id = item.Id })
                                        }
                                    }
                                    @Html.ActionLink($"{SharedLocalizer["Details"].Value}", "Details", new { id=item.Id })
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                
                <div class="col">
                    <input asp-for="MetaData.PageSize" min="1" value="@Model.MetaData.PageSize" class="form-control" />
                </div>
                <div class="col">
                    <input hidden="true" asp-for="MetaData.CurrentPage" value="@Model.MetaData.CurrentPage" id="pageNumber" class="form-control" />
                </div>
                @if (Model.MetaData.HasPrevious)
                {
                    <div class="col">
                        <input type="submit" value="@SharedLocalizer["Prev"]" onclick="decrementValue()" class="btn btn-outline-primary" />
                    </div>
                }
                @if (Model.MetaData.HasNext)
                {
                    <div class="col">
                        <input type="submit" value="@SharedLocalizer["Next"]" onclick="incrementValue()" class="btn btn-outline-primary" />
                    </div>
                }
            </div>
        </form>
    </div>
</div>

<script>
    function incrementValue() {
        var value = parseInt(document.getElementById('pageNumber').value, 10);
        value++;
        document.getElementById('pageNumber').value = value;
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('pageNumber').value, 10);
        value--;
        document.getElementById('pageNumber').value = value;
    }

    function setStartPage() {
        document.getElementById('pageNumber').value = 1;
    }
</script>
