@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model Fly.Core.Entities.City

<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/city.jpg">
    <div class="card-body">
        <form asp-action="Create">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer[""]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">@Localizer[""]</span>
            </div><br />
            <div class="form-group">
                <label asp-for="IsoCountry" class="control-label">@Localizer[""]</label>
                <input asp-for="IsoCountry" class="form-control" />
                <span asp-validation-for="IsoCountry" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="IsoRegion" class="control-label">@Localizer[""]</label>
                <input asp-for="IsoRegion" class="form-control" />
                <span asp-validation-for="IsoRegion" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <a asp-action="Index">@Localizer[""]</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken();

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
