@using Fly.Core.Entities;
@model AircarftForCreationDto
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/aircraft.jpg">
    <div class="card-body">
        <form asp-action="Create">
        <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <label asp-for="AirlineId" class="control-label">@Localizer["Airline"]</label>
                    <input asp-for="AirlineId" value="@ViewData["SelectedAirlineId"]" class="form-control" />
                    <span asp-validation-for="AirlineId" class="text-danger"></span>
                    @Html.ActionLink("Select","Index","Airlines", new { isSelect = true, redirectUri = "/aircrafts/create" })
                </div>
                <br />
            }
            <div class="form-group">
                <label asp-for="AirportId" class="control-label">@Localizer["Airport"]</label>
                <input asp-for="AirportId" value="@ViewData["SelectedAirportId"]" readonly class="form-control" />
                <span asp-validation-for="AirportId" class="text-danger"></span>
                @Html.ActionLink("Select","Index","Airports", new { isSelect = true, redirectUri = "/aircrafts/create" })
            </div>
            @if (ViewData["SelectedAirport"] != null)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@(((Airport)ViewData["SelectedAirport"]).Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@(((Airport)ViewData["SelectedAirport"]).City.Name)</h6>
                        <a href="/airports/details/@(((Airport)ViewData["SelectedAirport"]).Id)" class="card-link">Details</a>
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <label asp-for="ModelType" class="control-label">@Localizer["ModelType"]</label>
                <input asp-for="ModelType" class="form-control" />
                <span asp-validation-for="ModelType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label">@Localizer["SerialNumber"]</label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ManufactureDate" class="control-label">@Localizer["ManufactureDate"]</label>
                <input asp-for="ManufactureDate" class="form-control" />
                <span asp-validation-for="ManufactureDate" class="text-danger"></span>
            </div>
            <br />
                <div class="form-group">
                <label asp-for="FlightHours" class="control-label">@Localizer["FlightHours"]</label>
                    <input asp-for="FlightHours" class="form-control" />
                    <span asp-validation-for="FlightHours" class="text-danger"></span>
                </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <a asp-action="Index">@Localizer["Back"]</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
