@using Fly.Core.Entities;
@using Fly.Shared.DataTransferObjects;
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model TicketsDto

<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/seat.jpg">
    <div class="card-body">
        <form asp-action="Create">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label">@SharedLocalizer["Flight"]</label>
                <input asp-for="FlightId" readonly value="@ViewData["SelectedFlightId"]" class="form-control" />
                <span asp-validation-for="FlightId" class="text-danger"></span>
                @Html.ActionLink(SharedLocalizer["Select"].Value,"Index","Flights", new { isSelect = true, redirectUri = "/tickets/create" })
            </div>
            @if (ViewData["SelectedFlight"] != null)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Departure : @(((Flight)ViewData["SelectedFlight"]).DepartureDateTime)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@(((Flight)ViewData["SelectedFlight"]).FlightState)</h6>
                        <a href="/flights/details/@(((Flight)ViewData["SelectedFlight"]).Id)" class="card-link">Flight</a>
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <label asp-for="EconomClassPrice" class="control-label">@SharedLocalizer["Econom Class"]</label>
                <input asp-for="EconomClassPrice" class="form-control" />
                <span asp-validation-for="EconomClassPrice" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="FirstClassPrice" class="control-label">@SharedLocalizer["First Class"]</label>
                <input asp-for="FirstClassPrice" class="form-control" />
                <span asp-validation-for="FirstClassPrice" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="BusinessClassPrice" class="control-label">@SharedLocalizer["Business Class"]</label>
                <input asp-for="BusinessClassPrice"   class="form-control" />
                <span asp-validation-for="BusinessClassPrice" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form><br />
        <div>
            <a asp-action="Index">@SharedLocalizer["Back"]</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
