@using Fly.Core.Entities;
@using Microsoft.AspNetCore.Mvc.Localization;
@model TicketsViewModel;
@inject IViewLocalizer Localizer

<div class="card">
    <img class="card-img-top" src="~/ticket.jpg">
    <div class="card-body">
        <form asp-action="Index">
            <div class="row">
                <div class="form-group">
                    <label class="col">PriceMax</label>
                    <input asp-for="TicketParameter.PriceMax" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col">PriceMin</label>
                    <input asp-for="TicketParameter.PriceMin" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col">TicketState</label>
                    <input asp-for="TicketParameter.TicketState" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col">DepartureDateTime</label>
                    <input asp-for="TicketParameter.DepartureDateTime" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col"></label>
                    <input asp-for="TicketParameter.DepartureCity" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col">DepartureCity</label>
                    <input asp-for="TicketParameter.ArrivalCity" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col">SeatClass</label>
                    <input asp-for="TicketParameter.SeatClass" class="form-control" />
                </div>
                <div class="col">
                    <br/>
                    <input type="submit" onclick="setStartPage()" value=@Localizer["Search"] class="btn btn-primary" />
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                 Price
                            </th>
                            <th>
                                 Ticket State
                            </th>
                            <th>
                                 Sold Date
                            </th>
                            <th>
                                Departure
                            </th>
                            <th>
                                Arrival
                            </th>
                            <th>
                                Class
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PagedResponse)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoldDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flight.DepartureDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flight.ArrivalDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Seat.SeatClass)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Passenger.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Passenger.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="col">
                    <input asp-for="MetaData.PageSize" min="1" value="@Model.MetaData.PageSize" class="form-control" />
                </div>
                <div class="col">
                    <input hidden="true" asp-for="MetaData.CurrentPage" value="@Model.MetaData.CurrentPage" id="pageNumber" class="form-control" />
                </div>
                @if (Model.MetaData.HasPrevious)
                {
                        <div class="col">
                            <input type="submit" value="Prev" onclick="decrementValue()" class="btn btn-outline-primary" />
                        </div>
                }
                @if (Model.MetaData.HasNext)
                {
                        <div class="col">
                            <input type="submit" value="Next" onclick="incrementValue()" class="btn btn-outline-primary" />
                        </div>
                }
            </div>
        </form>
    </div>
</div>

<script>
    function incrementValue(){
        var value = parseInt(document.getElementById('pageNumber').value, 10);
        value++;
        document.getElementById('pageNumber').value = value;
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('pageNumber').value, 10);
        value--;
        document.getElementById('pageNumber').value = value;
    }

    function setStartPage() {
        document.getElementById('pageNumber').value = 1;
    }
</script>
