@using Fly.Core.Entities;
@using Fly.Core.Pagination;
@using Microsoft.AspNetCore.Mvc.Localization;

@model FlightParameterViewModel

@inject IViewLocalizer Localizer

<div class="card">
    <img class="card-img-top" src="~/pexels-francesco-ungaro-281260.jpg" style="max-height:240px" >
    <div class="card-body">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <label class="control-label">@Localizer["Time"]</label>
                    <input asp-for="DepartureDateTime" class="form-control" />
                </div>
                <div class="col">
                    <label class="control-label">@Localizer["DepartureCity"]</label>
                    <input asp-for="DepartureCity" class="form-control" />
                </div>
                <div class="col">
                    <label class="control-label">@Localizer["ArrivalCity"]</label>
                    <input asp-for="ArrivalCity" class="form-control" />
                </div>
                <div class="col">
                    <label class="control-label">Page Number</label>
                    <input asp-for="PageNumber" class="form-control" />
                </div>
                <div class="col">
                    <label class="control-label">Page Size</label>
                    <input asp-for="PageSize" class="form-control" />
                </div>
                <div class="col">
                    <br/>
                    <input type="submit" value=@Localizer["Search"] class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var item in (List<Flight>)ViewData["result"]) 
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport.AirporId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport.AirporId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aircraft.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets.Count)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.AircraftId})
            </td>
            </tr>
        }
    </tbody>
</table>
