@using Fly.Core.Parameters;
@using Microsoft.AspNetCore.Mvc.Localization;

@model FlightParameter

@inject IViewLocalizer Localizer

<h4>@Localizer["Header"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label class="control-label">@Localizer["Time"]</label>
                <input asp-for="DepartureDateTime" class="form-control" />
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@Localizer["DepartureCity"]</label>
                <input asp-for="DepartureCity" class="form-control" />
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">@Localizer["ArrivalCity"]</label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value=@Localizer["Search"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
