@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@using Fly.Core.Entities;
@model Fly.Core.Entities.Airport

<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/airport.jpg">
    <div class="card-body">
        <form asp-action="Create">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <input asp-for="CityId" value="@ViewData["SelectedCityId"]" readonly class="form-control" />
                <span asp-validation-for="CityId" class="text-danger"></span>
                @Html.ActionLink("Select","Index","Cities", new { isSelect = true, redirectUri = "/airports/create" })
            </div>
            @if (ViewData["SelectedCity"] != null)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@(((City)ViewData["SelectedCity"]).Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@(((City)ViewData["SelectedCity"]).IsoCountry)</h6>
                        <a href="/cities/details/@(((City)ViewData["SelectedCity"]).Id)" class="card-link">Details</a>
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="AirportId" class="control-label"></label>
                <input asp-for="AirportId" class="form-control" />
                <span asp-validation-for="AirportId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Altitude" class="control-label"></label>
                <input asp-for="Altitude" class="form-control" />
                <span asp-validation-for="Altitude" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <a asp-action="Index">Back</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken();

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
