@model Fly.Core.Entities.Airport

<div class="card text-center mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/airport.jpg">
    <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Airport
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <dt class = "col-sm-2">
            City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
            <br />
            Counrty:
            @Html.DisplayFor(model => model.City.IsoCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
        <div class="card">
            <div id="map" style="width: 100%; height: 300px;"></div>
        </div>
        <div>
            @if(User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            }
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<script>
    const map = L.map('map').setView([@Model.Latitude, @Model.Longitude], 10);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.marker([@Model.Latitude, @Model.Longitude]).addTo(map)
        .bindPopup('@(Model.Name)')
        .openPopup();
</script>



